<!DOCTYPE html>
<div id="contents">
		<div>
			<div class="body">
				<div id="adbox">
					<img src="images/main-image.jpg" alt="Img">
					<div class="details">
					  <h1>"Looking Closer<br>at Your Investment"</h1>
						<p>
							Although the home inspection portion of your transaction is only one step to making a wise decision, it can play a BIG role in present and future costs associated with home ownership!
						</p>
				  </div>
			  </div>
				<ul id="featured">
					<li>
						<div>
							<img src="img/logo.png" alt="Img"> <a ui-sref="about"></a>
						</div>
						<div class="details">
							<h4><a href="about.html">About Us</a></h4>
							<p>

							</p>
					  </div>
					</li>
					<li class="bedroom">
						<div>
							<img src="img/services2.jpg" alt="Img"> <a href="services.html"></a>
						</div>
						<div class="details">
							<h4><a href="services.html">Services</a></h4>
							<p>

						  </p>
						</div>
					</li>
					<li class="kitchen">
						<div>
							<img src="img/kitchen.jpg" alt="Img"> <a href="contact.html"></a>
						</div>
						<div class="details">
							<h4><a href="contact.html">Contact</a></h4>
							<p>

						  </p>
						</div>
					</li>
				</ul>

			</div>
		</div>
	</div>
